@import "tailwindcss";

.active {
    background-color: #FFF0ED;
    border-color: #FF6B35;
}

.select, input, textarea{
    border: 1px solid #D1D5DB;
    outline-color: #C586A5;
    border-radius: 4px;
}